<template name="App_login">

    <h1> Login </h1>

    <form id='login'>
        <label> Email </label>
        <input id='email' type="email" required>

        <label> Password </label>
        <input id='password' type="password" required>

        <button type="submit"> Log In </button>

        <a id='show-signin' href="#"> You dont have account yet ? </a>

    </form>


    <form id='signin' style="display: none;">

        <label> Name </label>
        <input id='name-register' type="text" required>


        <label> Email </label>
        <input id='email-register' type="email" required>

        <label> Password </label>
        <input id='password-register' type="password" required>


        <label> Confirm password </label>
        <input id='password-confirm' type="password" required>


        <button type="submit"> Sign In </button>


        <a id='show-login' href="#"> Log In </a>
    </form>

</template>