<template name="App_nav">
    
    <h3> Nav </h3>
    
    
    <ul>
        
        <li> Option 1</li>
        <li> Option 2</li>

        {{#if currentUser }}

            <li>   <a id='logout' href="#">  Log out</a>   </li>

        {{else}}

            <li>  <a id='login' href="#"> Log In </a> </li>

        {{/if}}

        

    </ul>

</template>