<template name='App_admin'>

    <h1> Admin </h1>

    {{ currentUser.profile.name }}


    {{#if isInRole 'admin'}}

        <strong> Admin User </strong>
      
    {{/if}}

    {{#if isInRole 'standard' }}

        <strong> Normal User </strong>

    {{/if}}



    <a id='log-out' href="#"> Log Out </a>

</template>