<template name="App_home">

    {{> App_nav }}



    <br>

    {{> info userTest=currentUser }}

    <!-- 
        {{#if currentUser }}

            <h2> logged </h2> 

        {{else}}
        
        <h2> No login </h2>

        {{/if}}

    -->
</template>
