<template name="info">
	
	<h2>Learn Meteor!</h2>
	
	{{ #if  userTest }}

		<h3> User : {{ userTest.profile.name }} </h3>

		<form id='create' class="info-link-add" >

			<input type="text" name="title" placeholder="Title" required>
			<input type="url" name="url" placeholder="Url" required>
			<input type="submit" name="submit" value="Add new link">

		</form>


		<form id='edit' class="info-link-edit" style="display: none;">

			<h3> Edit </h3>

			<input id='title-edit' type="text" name="titleEdit" placeholder="Title" required>
			<input id='url-edit' type="url" name="urlEdit" placeholder="Url" required>
			<input type="submit" name="submit-edit" value="Edit">
			<button id='cancel-edit'> Cancel edit </button>


		</form>
		
	{{else}}

		<h3> Inicia sesion </h3>

	{{/if}}
<!-- 
	{{#each  lista_amigos }}

		<p> Nombre : {{ name }} </p>
		<p> Edad : {{ age }} </p>

	{{/each}} -->

	
	<ul>
		{{#each links}}
			
			<li>

				<a href="#"  > <strong> {{ nameUser userId }} </strong> :  </a>
				<a href="{{url}}" target="_blank">{{title}}</a>

				{{#if removeUserShow userId  }}

					<button id={{_id}} class="remove" > Remove </button>
					<button id={{_id}} class="edit" > Edit </button>
					
				{{/if}}
				

			</li>

			<br/>

		{{/each}}

	</ul>

</template>